{% extends "base.html" %}

{% block content %}

{% if user.is_staff %}
<div style="float:right;font-size: 80%;">
  <a href="{% url admin:shells_species_change species.id %}">Admin</a>
</div>

{% endif %}

<h1>{{ species }}</h1>

<div class="row">
  <div class="span8">

<h2>Classification</h2>
<dl>
  <dt>Class:</dt>
  <dd>{{ species.class_name }}</dd>


  <dt>Family:</dt>
  <dd>{{ species.family }}</dd>


  <dt>Subfamily:</dt>
  <dd>{{ species.subfamily }}</dd>

  <dt>Genus:</dt>
  <dd>{{ species.genus }}</dd>

  <dt>Species:</dt>
  <dd>{{ species.species }}</dd>
</dl>

<h2>General Information</h2>
<dl>
  <dt>Definition:</dt>
  <dd>{{ species.definition }}</dd>


  <dt>Authority:</dt>
  <dd>{{ species.authority }}</dd>


  <dt>Synonyms:</dt>
  <dd>{{ species.synonyms }}</dd>


  <dt>Common names:</dt>
  <dd>{{ species.common_names }}</dd>


  <h2>Location</h2>
  <dt>Geographic range:</dt>
  <dd>{{ species.geographic_range }}</dd>


  <dt>Habitat:</dt>
  <dd>{{ species.habitat }}</dd>
</dl>

<h2>Physical</h2>
<dl>
  <dt>Shell size:</dt>
  <dd>{{ species.shell_size }}</dd>

  <dt>Shell sculpture:</dt>
  <dd>{{ species.shell_sculpture }}</dd>

  <dt>Shell colour:</dt>
  <dd>{{ species.shell_colour }}</dd>
</dl>

<h2>References</h2>
<dl>
  <dt>References:</dt>
  <dd>{{ species.references }}</dd>

  <dt>Notes:</dt>
  <dd>{{ species.notes }}</dd>

  <dt>Additional information:</dt>
  <dd>{{ species.addition_information }}</dd>
</dl>

<h2>Specimens</h3>
<dl>
{% for specimen in species.specimen_set.all %}

  <dt>Collection date:</dt>
  <dd>{{ specimen.collection_date }}</dd>

  <dt>Collection location:</dt>
  <dd>{{ specimen.collection_location }}</dd>

  <dt>Collection information:</dt>
  <dd>{{ specimen.collection_information }}</dd>

{% endfor %}
</dl>

{% load thumbnail %}
  </div><!-- span9 -->

  <div class="span4">
    <div class="well">
        <p>Images</p>
        {% for specimen in species.specimen_set.all %}
        {% for sr in specimen.speciesrepresentation_set.all %}

    <a href="{{ sr.image.url }}">
    <img src="{% thumbnail sr.image 384x256 crop=scale %}" width="384" height="256" alt=""></a>

    {% endfor %}
    {% endfor %}

    </div>
  </div>

</div><!-- row -->


{% endblock %}
