{% extends "base.html" %}

{% block content %}

{% if user.is_staff %}
<div style="float:right;font-size: 80%;">
  <a href="{% url admin:shells_species_change species.id %}">Admin</a>
</div>

{% endif %}

<h1>{{ species }}</h1>

<div class="row">
  <div class="span8">

<h2>Classification</h2>
<b>Class:</b>
{{ species.class_name }}

<br>
<b>Family:</b>
{{ species.family }}

<br>
<b>Subfamily:</b>
{{ species.subfamily }}
<br>
<b>Genus:</b>
{{ species.genus }}
<br>
<b>Species:</b>
{{ species.species }}
<br>

<h2>General Information</h2>
<b>Definition:</b>
{{ species.definition }}

<br>
<b>Authority:</b>
{{ species.authority }}

<br>
<b>Synonyms:</b>
{{ species.synonyms }}

<br>
<b>Common names:</b>
{{ species.common_names }}


<h2>Location</h2>
<b>Geographic range:</b>
{{ species.geographic_range }}

<br>
<b>Habitat:</b>
{{ species.habitat }}
<br>

<h2>Physical</h2>
<b>Shell size:</b>
{{ species.shell_size }}
<br>
<b>Shell sculpture:</b>
{{ species.shell_sculpture }}
<br>
<b>Shell colour:</b>
{{ species.shell_colour }}

<h2>References</h2>
<b>References:</b>
{{ species.references }}

<br>
<b>Notes:</b>
{{ species.notes }}

<br>
<b>Additional information:</b>
{{ species.addition_information }}


<h2>Specimens</h3>
{% for specimen in species.specimen_set.all %}

<b>Collection date:</b>
{{ specimen.collection_date }}
<br>
<b>Collection location:</b>
{{ specimen.collection_location }}
<br>
<b>Collection information:</b>
{{ specimen.collection_information }}

{% endfor %}

{% load thumbnail %}
  </div><!-- span9 -->

  <div class="span4">
    <div class="well">
        <p>Images</p>
        {% for specimen in species.specimen_set.all %}
        {% for sr in specimen.speciesrepresentation_set.all %}

    <a href="{{ sr.image.url }}">
    <img src="{% thumbnail sr.image 384x256 crop=scale %}" width="384" height="256" alt=""></a>

    {% endfor %}
    {% endfor %}

    </div>
  </div>

</div><!-- row -->


{% endblock %}
