{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <h1>UQ Archaeological Reference Collections</h1>
    </div>

</div>

<div class="row-fluid">
    <div class="span6 text-center">
        <a href="{% url botany_home %}">
        <img class="img-polaroid" src="{% static 'images/botany_title.jpg' %}">
        <h3>Archeobotany Reference Collection</h3></a>
    </div>

    <div class="span6 text-center">
        <a href="{% url browse-species %}">
        <img class="img-polaroid" src="{% static 'images/shells_title.jpg' %}">
        <h3>Shells Reference Collection</h3></a>
    </div>

</div>


{% endblock content %}
