{% extends "base.html" %}

{% block headextra %}
<link rel="stylesheet" type="text/css" href="/static/adgallery/lib/jquery.ad-gallery.css">
<style>

.ad-gallery .ad-image-wrapper .ad-image {overflow: visible;}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description {position: static;}
.ad-gallery { width: 484px; }
.ad-gallery .ad-image-wrapper { height: 312px; }
</style>
{% endblock headextra %}
{% load thumbnail %}
{% block content %}
  <div class="row">
    <div class="span12">
{% if user.is_staff %}
<div style="float:right;font-size: 80%;">
  <a href="{% url admin:botanycollection_accession_change object.id %}">Admin</a>
</div>
{% endif %}

        <h2>{{ object.family }} > {{object.genus}} > {{object.species}}</h2>

        <div class="row">
            <div class="span3">
                <dl class="dl-horizontal">
                    <dt>Accession No.</dt>
                    <dd>{{object.uq_accession }}</dd>

                    <dt>Plant part</dt>
                    <dd>{{object.genus}}</dd>

                    <dt>State</dt>
                    <dd>{{object.state}}</dd>

                    <dt>Ethnographic use</dt>
                    <dd>{{object.state}}</dd>

                    <dt>Common name</dt>
                    <dd>{{object.common_name}}</dd>

                    <dt>Plant type</dt>
                    <dd></dd>

                    <dt>Country</dt>
                    <dd>{{object.country}}</dd>

                    <dt>Related accession</dt>
                    <dd>{{object.related_accession}}</dd>

                    <dt>Notes</dt>
                    <dd>{{object.notes}}</dd>


                </dl>
            </div>
            <div class="span7">
<div class="ad-gallery">
  <div class="ad-image-wrapper">
  </div>
  <div class="ad-controls">
  </div>
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">

        {% for photo in object.accessionphoto_set.all %}
        <li>
          <a href="{{ photo.image|thumbnail_url:'display'}}">
            <img src="{{ photo.image|thumbnail_url:'small_thumb'}}" title="{{ photo.image.name }}" alt="{{ photo.description }}">
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% comment %}                <div id="photos" class="carousel slide">

                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    {% for photo in object.accessionphoto_set.all %}
                    <div class="item{% if forloop.first%} active{%endif%}">
                      <img src="{{ photo.image|thumbnail_url:'display'}}">
                      <p>{{ photo.image.name }}</p>
                    </div>
                    {% endfor %}
                  </div>
                  <!-- Carousel nav -->
                  <a class="left carousel-control" href="#photos" data-slide="prev">&lsaquo;</a>
                  <a class="right carousel-control" href="#photos" data-slide="next">&rsaquo;</a>
                </div>
{% endcomment %}
            </div>

        <div class="row">
            <div class="span10">
                <h3>Specimen Description</h3>
            </div>
        </div>
        <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#wood" data-toggle="tab">Wood</a></li>
            <li><a href="#seedfruit" data-toggle="tab">Seed/Fruit</a></li>
            <li><a href="#largefruit" data-toggle="tab">Large fruit</a></li>
            <li><a href="#chaff" data-toggle="tab">Chaff</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="wood">
<!--                 <div class="row">
                    <div class="span3">
                        <h4>Transverse Plane</h4>
                    </div>
                    <div class="span3">
                        <h4>Tangential Plane</h4>
                    </div>
                    <div class="span2">
                        <h4>Radial Plane</h4>
                    </div>
                </div> -->
                <div>
{% if object.woodfeatures.accession %}
            <dt>Accession</dt>
            <dd>{{ object.woodfeatures.accession }}</dd>
{% endif %}

            
{% if object.woodfeatures.aggregate_rays %}
            <dt>aggregate rays</dt>
            <dd>{{ object.woodfeatures.aggregate_rays }}</dd>
{% endif %}

            
{% if object.woodfeatures.australia %}
            <dt>Australia</dt>
            <dd>{{ object.woodfeatures.australia }}</dd>
{% endif %}

            
{% if object.woodfeatures.axial_canals %}
            <dt>axial canals</dt>
            <dd>{{ object.woodfeatures.axial_canals }}</dd>
{% endif %}

            
{% if object.woodfeatures.axial_parenchyma_arrangment %}
            <dt>axial parenchyma arrangment</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_arrangment }}</dd>
{% endif %}

            
{% if object.woodfeatures.axial_parenchyma_bands %}
            <dt>axial parenchyma bands</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_bands }}</dd>
{% endif %}

            
{% if object.woodfeatures.axial_parenchyma_present %}
            <dt>axial parenchyma present</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_present }}</dd>
{% endif %}

            
{% if object.woodfeatures.cambial_variants %}
            <dt>cambial variants</dt>
            <dd>{{ object.woodfeatures.cambial_variants }}</dd>
{% endif %}

            
{% if object.woodfeatures.common_name %}
            <dt>Common name</dt>
            <dd>{{ object.woodfeatures.common_name }}</dd>
{% endif %}

            
{% if object.woodfeatures.druses %}
            <dt>druses</dt>
            <dd>{{ object.woodfeatures.druses }}</dd>
{% endif %}

            
{% if object.woodfeatures.family %}
            <dt>family</dt>
            <dd>{{ object.woodfeatures.family }}</dd>
{% endif %}

            
{% if object.woodfeatures.fibre_helical_thickenings %}
            <dt>fibre helical thickenings</dt>
            <dd>{{ object.woodfeatures.fibre_helical_thickenings }}</dd>
{% endif %}

            
{% if object.woodfeatures.fibre_pits %}
            <dt>fibre pits</dt>
            <dd>{{ object.woodfeatures.fibre_pits }}</dd>
{% endif %}

            
{% if object.woodfeatures.fibres_wall_thickeness %}
            <dt>fibres wall thickeness</dt>
            <dd>{{ object.woodfeatures.fibres_wall_thickeness }}</dd>
{% endif %}

            
{% if object.woodfeatures.fusiform_parenchyma_cells %}
            <dt>fusiform parenchyma cells</dt>
            <dd>{{ object.woodfeatures.fusiform_parenchyma_cells }}</dd>
{% endif %}

            
{% if object.woodfeatures.helical_thickenings %}
            <dt>helical thickenings</dt>
            <dd>{{ object.woodfeatures.helical_thickenings }}</dd>
{% endif %}

            
{% if object.woodfeatures.included_phloem %}
            <dt>included phloem</dt>
            <dd>{{ object.woodfeatures.included_phloem }}</dd>
{% endif %}

            
{% if object.woodfeatures.indigenous_name %}
            <dt>Indigenous name</dt>
            <dd>{{ object.woodfeatures.indigenous_name }}</dd>
{% endif %}

            
{% if object.woodfeatures.intervessels_pits_arrangment %}
            <dt>intervessels pits arrangment</dt>
            <dd>{{ object.woodfeatures.intervessels_pits_arrangment }}</dd>
{% endif %}

            
{% if object.woodfeatures.intervessels_pits_size %}
            <dt>intervessels pits size</dt>
            <dd>{{ object.woodfeatures.intervessels_pits_size }}</dd>
{% endif %}

            
{% if object.woodfeatures.intervessels_pits_specific_shapes %}
            <dt>intervessels pits specific shapes</dt>
            <dd>{{ object.woodfeatures.intervessels_pits_specific_shapes }}</dd>
{% endif %}

            
{% if object.woodfeatures.lactifers_tanniferous_tubes %}
            <dt>lactifers tanniferous tubes</dt>
            <dd>{{ object.woodfeatures.lactifers_tanniferous_tubes }}</dd>
{% endif %}

            
{% if object.woodfeatures.new_caledonia %}
            <dt>New Caledonia</dt>
            <dd>{{ object.woodfeatures.new_caledonia }}</dd>
{% endif %}

            
{% if object.woodfeatures.notes %}
            <dt>NOTES</dt>
            <dd>{{ object.woodfeatures.notes }}</dd>
{% endif %}

            
{% if object.woodfeatures.parenchyma_like_fibres_present %}
            <dt>parenchyma like fibres present</dt>
            <dd>{{ object.woodfeatures.parenchyma_like_fibres_present }}</dd>
{% endif %}

            
{% if object.woodfeatures.perforation_plates_types %}
            <dt>perforation plates types</dt>
            <dd>{{ object.woodfeatures.perforation_plates_types }}</dd>
{% endif %}

            
{% if object.woodfeatures.prismatic_crystal %}
            <dt>prismatic crystal</dt>
            <dd>{{ object.woodfeatures.prismatic_crystal }}</dd>
{% endif %}

            
{% if object.woodfeatures.radial_secretory_canals %}
            <dt>radial secretory canals</dt>
            <dd>{{ object.woodfeatures.radial_secretory_canals }}</dd>
{% endif %}

            
{% if object.woodfeatures.radial_tracheids_for_gymnosperms %}
            <dt>radial tracheids for gymnosperms</dt>
            <dd>{{ object.woodfeatures.radial_tracheids_for_gymnosperms }}</dd>
{% endif %}

            
{% if object.woodfeatures.rays %}
            <dt>rays</dt>
            <dd>{{ object.woodfeatures.rays }}</dd>
{% endif %}

            
{% if object.woodfeatures.rays_cellular_composition %}
            <dt>rays cellular composition</dt>
            <dd>{{ object.woodfeatures.rays_cellular_composition }}</dd>
{% endif %}

            
{% if object.woodfeatures.rays_height %}
            <dt>rays height</dt>
            <dd>{{ object.woodfeatures.rays_height }}</dd>
{% endif %}

            
{% if object.woodfeatures.rays_sheat_cells %}
            <dt>rays sheat cells</dt>
            <dd>{{ object.woodfeatures.rays_sheat_cells }}</dd>
{% endif %}

            
{% if object.woodfeatures.rays_structure %}
            <dt>RAYS STRUCTURE</dt>
            <dd>{{ object.woodfeatures.rays_structure }}</dd>
{% endif %}

            
{% if object.woodfeatures.rays_width %}
            <dt>rays width</dt>
            <dd>{{ object.woodfeatures.rays_width }}</dd>
{% endif %}

            
{% if object.woodfeatures.reference_specimens %}
            <dt>Reference Specimens</dt>
            <dd>{{ object.woodfeatures.reference_specimens }}</dd>
{% endif %}

            
{% if object.woodfeatures.silica %}
            <dt>silica</dt>
            <dd>{{ object.woodfeatures.silica }}</dd>
{% endif %}

            
{% if object.woodfeatures.solitary_vessels_with_angular_outline %}
            <dt>solitary vessels with angular outline</dt>
            <dd>{{ object.woodfeatures.solitary_vessels_with_angular_outline }}</dd>
{% endif %}

            
{% if object.woodfeatures.species %}
            <dt>Species</dt>
            <dd>{{ object.woodfeatures.species }}</dd>
{% endif %}

            
{% if object.woodfeatures.spetate_fibres_present %}
            <dt>spetate fibres present</dt>
            <dd>{{ object.woodfeatures.spetate_fibres_present }}</dd>
{% endif %}

            
{% if object.woodfeatures.storied_structure %}
            <dt>storied structure</dt>
            <dd>{{ object.woodfeatures.storied_structure }}</dd>
{% endif %}

            
{% if object.woodfeatures.tile_cells %}
            <dt>tile cells</dt>
            <dd>{{ object.woodfeatures.tile_cells }}</dd>
{% endif %}

            
{% if object.woodfeatures.turkey %}
            <dt>Turkey</dt>
            <dd>{{ object.woodfeatures.turkey }}</dd>
{% endif %}

            
{% if object.woodfeatures.vascularvasicentric_tracheids_present %}
            <dt>vascular-vasicentric tracheids present</dt>
            <dd>{{ object.woodfeatures.vascularvasicentric_tracheids_present }}</dd>
{% endif %}

            
{% if object.woodfeatures.vessels %}
            <dt>vessels</dt>
            <dd>{{ object.woodfeatures.vessels }}</dd>
{% endif %}

            
{% if object.woodfeatures.vessels_arrangment %}
            <dt>vessels arrangment</dt>
            <dd>{{ object.woodfeatures.vessels_arrangment }}</dd>
{% endif %}

            
{% if object.woodfeatures.vessels_deposits %}
            <dt>vessels deposits</dt>
            <dd>{{ object.woodfeatures.vessels_deposits }}</dd>
{% endif %}

            
{% if object.woodfeatures.vessels_grouping %}
            <dt>vessels grouping</dt>
            <dd>{{ object.woodfeatures.vessels_grouping }}</dd>
{% endif %}

            
{% if object.woodfeatures.vessels_porosity %}
            <dt>vessels porosity</dt>
            <dd>{{ object.woodfeatures.vessels_porosity }}</dd>
{% endif %}

            
{% if object.woodfeatures.vessels_rays_pitting %}
            <dt>vessels rays pitting</dt>
            <dd>{{ object.woodfeatures.vessels_rays_pitting }}</dd>
{% endif %}

            
{% if object.woodfeatures.vessels_tyloses %}
            <dt>vessels tyloses</dt>
            <dd>{{ object.woodfeatures.vessels_tyloses }}</dd>
{% endif %}

            
{% if object.woodfeatures.walls %}
            <dt>walls</dt>
            <dd>{{ object.woodfeatures.walls }}</dd>
{% endif %}

            
{% if object.woodfeatures.contributor %}
            <dt>Contributor</dt>
            <dd>{{ object.woodfeatures.contributor }}</dd>
{% endif %}

            
{% if object.woodfeatures.date %}
            <dt>DATE</dt>
            <dd>{{ object.woodfeatures.date }}</dd>
{% endif %}

            



                </div>
            </div>
            <div class="tab-pane" id="seedfruit">
              <div>
                <dl>
                  <dt>Shape</dt>
                  <dd>{{object.seedfeatures.shape}}</dd>

                  <dt>Surface texture sculpting</dt>
                  <dd>{{object.seedfeatures.surface_texture_sculpting}}</dd>

                  <dt>Special features</dt>
                  <dd>{{object.seedfeatures.special_features}}</dd>

                  <dt>Size</dt>
                  <dd>{{object.seedfeatures.size}}</dd>

                  <dt>Identification references</dt>
                  <dd>{{object.seedfeatures.identification_references}}</dd>

                </dl>
              </div>
            </div>
            <div class="tab-pane" id="largefruit">
              <p>Fruit description.</p>
            </div>
            <div class="tab-pane" id="chaff">
              <p>Chaff description.</p>
            </div>
          </div>
        </div>


    </div>
  </div>





{% endblock content %}



{% block endjavascript %}
<script type="text/javascript" src="/static/adgallery/lib/jquery.ad-gallery.js"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function () {

  // A bit of a hack to stop the carousel switching to auto-advance
  $.fn.carousel.defaults = {
    interval: false
  , pause: 'hover'
  }

//  $('#photos').carousel({
//    interval: false
//  });
  
  var galleries = $('.ad-gallery').adGallery({
    slideshow: {
      enable: false
    }
  });

});

</script>


{% endblock endjavascript %}
