{% extends "base.html" %}

{% block content %}

<div class="row">
    <h1>UQ Archeological Reference Collections</h1>


    <a href="{% url accession_list %}">Browse Accessions</a>


<p>Welcome to the UQ Archaeobotany Reference Collection (UQARC)</p>
<p>UQARC is an online reference collection aiming to provide easier access to fully described plant macrofossil reference specimens of wood, seeds, chaff, leaves and tubers.</p>
<p>UQARC has been developed primarily to provide the widely spread researchers of ancient plant use and environments in the Indo-Pacific region (including Australia) with a permanent and updateable collection of fossil reference material to help facilitate research. However, it has no geographical boundaries and in it can be found modern and ancient specimens from around the world. </p>
<p>UQARC allows used to search entries by species, family and specific identification criteria. Access to the reference collection is open to all under a creative commons license.</p>
<p>UQARC houses both images and text descriptions of plant specimens and acts as the database management tool for UQ’s archaeobotanical reference collections. While initially designed by staff and students of The University of Queensland, UQARC is a broader community resource and welcomes contributions to its archive. All contributions are peer-reviewed for compliance with UQARC’s data standards and contributors are acknowledged in UQARC entries.</p>


</div>


{% endblock content %}
