{% extends "botanycollection/base.html" %}

{% block content %}


<div class="row">
	<div class="span8 offset1">
		<div class="about-container">
			<h2>About</h2>
			<p>
				UQARC is the result of a long term collaboration between staff and students at the 
				University of Queensland (UQ). UQ houses an extensive archaeobotanical reference 
				collection, initiated by <u>Andrew Fairbairn</u> when he joined UQ in 2006 and added 
				to by staff and students ever since. Today UQ's reference collection, held in a 
				purpose built facility within the <u>UQ Archaeology Lab</u>, houses over 3000 specimens 
				of wood, seeds, fruits and leaves from taxa across Eurasia and Australasia, with many 
				more in process. The collection houses specimens collected by UQ's staff and students 
				and others donated or bought from the wider scholarly and botanical community.
			</p>
			<p>
				As recognised by the <u>ARC Future Network</u> (Denham et al. 2009), archaeobotanists 
				in Australia and the surrounding region are thinly spread and work with diverse biota, 
				meaning establishing and effectively sharing reference collections is problematical. 
				The development of a freely accessible electronic archaeobotany reference collection 
				became a focus of UQ's archaeobotany working group. Initially, a project developed by 
				Nathan Wright, Reiner Mantei, Stephanie Smith, Xavier Carah and Alison Moroney, <u>OSAD 
				(the Online Seed Atlas Database)</u> aimed to develop and test a recording system and 
				database for morphometric criteria of Near Eastern crop seeds. While fulfilling the need 
				for electronic storage it became clear that a web-based platform provided the best means 
				of long term development of the database with the appropriate accessibility required. 
				Thus UQARC was born! In 2011, Andrew Fairbairn developed a collaboration with 
				<u>Jane Hunter</u> and <u>Damien Ayers</u> in <u>UQ ITEE</u>, which led to a successful 
				application with    <u>Lynda Cheshire</u> (<u>Sociology</u>) and <u>Diana Young</u> 
				(<u>UQ Anthropology Museum</u>), to develop UQ's facilities for the digital humanities. 
				The result provides a permanent, open access database for archaeobotanical finds and 
				reference materials of all kinds physically housed at UQ and elsewhere.
			</p>
			<p>
				<strong><em>UQARC Project Director</em></strong>
				: <u>Andrew Fairbairn</u>
			</p>
			<p>
				<strong><em>Archaeobotany development team</em></strong>
				: Xavier Carah, Nathan Wright, Anne Dighton, Reiner Mantei, Anna Florin (UQ 
				<u>School of Social Science</u>)
			</p>
			<p>
				<strong><em>IT concept development and design:</em></strong>
				<u>Damien Ayers</u>
				and <u>Jane Hunter</u> (<u>UQ ITEE</u>)
			</p>
			<p>
				<strong><em>Contributors to the UQ archaeobotany reference collection:</em></strong>
				Andrew Fairbairn, Mark Nesbitt, Nuno Olivera, Emilie Dotte-Sarout, Col Martin, Xavier Carah, 
				Lynely Wallis, WCS, Anna Florin, Annie Ross, Rohan Fenwick,
				UWA Herbarium, [missing?]<strong></strong>
			</p>
			<p>
				<strong><em>Thanks to the following</em></strong>
				for their sustained contribution to UQ's collections: Claudia Emilia Espinoza, Corey Herrmann, 
				Rebecca Lee, Narelle Lont, Peter Lugg, Hannah McGown.
			</p>

		</div>
	</div><!-- /span8 -->
</div>

{% endblock content %}
