{% extends "botanycollection/base.html" %}

{% block content %}


<div class="row">
	<div class="span8 offset1">
		<div class="contacts-container">
			<h2>Contacts</h2>
			<p>
				UQARC is the digital version of our physical reference collection, which is open to 
				all bona fide archaeobotanical researchers. For queries about UQARC and using our 
				collections in Brisbane please contact <a href="mailto:UQARC@uq.edu.au">UQARC@uq.edu.au</a>
			</p>
		</div>
	</div><!-- /span8 -->
</div>

{% endblock content %}
