              <div>
                <dl>
                  <dt>Shape</dt>
                  <dd>{{object.seedfeatures.shape}}</dd>

                  <dt>Surface texture sculpting</dt>
                  <dd>{{object.seedfeatures.surface_texture_sculpting}}</dd>

                  <dt>Special features</dt>
                  <dd>{{object.seedfeatures.special_features}}</dd>

                  <dt>Size</dt>
                  <dd>{{object.seedfeatures.size}}</dd>

                  <dt>Identification references</dt>
                  <dd>{{object.seedfeatures.identification_references}}</dd>

                </dl>
              </div>
