
                 <div class="row-fluid">
                    <div class="span4">
                        <h4>Transverse</h4>
                        <dl>

{% if object.woodfeatures.vessels %}
            <dt>Vessels</dt>
            <dd>{{ object.woodfeatures.vessels }}</dd>
{% endif %}

{% if object.woodfeatures.vessel_porosity %}
            <dt>Vessel porosity</dt>
            <dd>{{ object.woodfeatures.vessel_porosity }}</dd>
{% endif %}

{% if object.woodfeatures.tracheid_diameter %}
            <dt>Tracheid diameter</dt>
            <dd>{{ object.woodfeatures.tracheid_diameter }}</dd>
{% endif %}

{% if object.woodfeatures.vessel_grouping %}
            <dt>Vessel grouping</dt>
            <dd>{{ object.woodfeatures.vessel_grouping }}</dd>
{% endif %}

{% if object.woodfeatures.vessel_arrangement %}
            <dt>Vessel arrangement</dt>
            <dd>{{ object.woodfeatures.vessel_arrangement }}</dd>
{% endif %}

{% if object.woodfeatures.solitary_vessels_with_angular_outline %}
            <dt>Solitary vessels with angular outline</dt>
            <dd>{{ object.woodfeatures.solitary_vessels_with_angular_outline }}</dd>
{% endif %}

{% if object.woodfeatures.vessels_tyloses %}
            <dt>Vessels tyloses</dt>
            <dd>{{ object.woodfeatures.vessels_tyloses }}</dd>
{% endif %}

{% if object.woodfeatures.vessels_deposits %}
            <dt>Vessels deposits</dt>
            <dd>{{ object.woodfeatures.vessels_deposits }}</dd>
{% endif %}

{% if object.woodfeatures.fibre_wall_thickness %}
            <dt>Fibre wall thickness</dt>
            <dd>{{ object.woodfeatures.fibre_wall_thickness }}</dd>
{% endif %}

{% if object.woodfeatures.axial_parenchyma_present %}
            <dt>Axial parenchyma present</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_present }}</dd>
{% endif %}

{% if object.woodfeatures.axial_parenchyma_arrangement1 %}
            <dt>Axial parenchyma arrangement (1)</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_arrangement1 }}</dd>
{% endif %}

{% if object.woodfeatures.axial_parenchyma_arrangement2 %}
            <dt>Axial parenchyma arrangement (2)</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_arrangement2 }}</dd>
{% endif %}

{% if object.woodfeatures.axial_parenchyma_arrangement3 %}
            <dt>Axial parenchyma arrangement (3)</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_arrangement3 }}</dd>
{% endif %}

{% if object.woodfeatures.axial_parenchyma_arrangement4 %}
            <dt>Axial parenchyma arrangement (4)</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_arrangement4 }}</dd>
{% endif %}

{% if object.woodfeatures.axial_parenchyma_arrangement5 %}
            <dt>Axial parenchyma arrangement (5)</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_arrangement5 }}</dd>
{% endif %}

{% if object.woodfeatures.rays %}
            <dt>Rays</dt>
            <dd>{{ object.woodfeatures.rays }}</dd>
{% endif %}

{% if object.woodfeatures.aggregate_rays %}
            <dt>Aggregate rays</dt>
            <dd>{{ object.woodfeatures.aggregate_rays }}</dd>
{% endif %}
                    </dl>
                    </div>
                    <div class="span4">
                      <h4>Longitudinal</h4>
                        <dl>
{% if object.woodfeatures.intervessel_pits_arrangement %}
            <dt>Intervessel/tracheid pit arrangement</dt>
            <dd>{{ object.woodfeatures.intervessel_pits_arrangement }}</dd>
{% endif %}

{% if object.woodfeatures.intervessel_tracheid_pit_shapes %}
            <dt>Intervessel/tracheid pit shapes</dt>
            <dd>{{ object.woodfeatures.intervessel_tracheid_pit_shapes }}</dd>
{% endif %}

{% if object.woodfeatures.intervessel_pits_size %}
            <dt>Intervessel pit size</dt>
            <dd>{{ object.woodfeatures.intervessel_pits_size }}</dd>
{% endif %}

{% if object.woodfeatures.perforation_plates_types %}
            <dt>Perforation plates types</dt>
            <dd>{{ object.woodfeatures.perforation_plates_types }}</dd>
{% endif %}

{% if object.woodfeatures.helical_thickenings %}
            <dt>Helical thickenings</dt>
            <dd>{{ object.woodfeatures.helical_thickenings }}</dd>
{% endif %}

{% if object.woodfeatures.fibre_helical_thickenings %}
            <dt>Fibre helical thickenings</dt>
            <dd>{{ object.woodfeatures.fibre_helical_thickenings }}</dd>
{% endif %}

{% if object.woodfeatures.fibre_pits %}
            <dt>Fibre pits</dt>
            <dd>{{ object.woodfeatures.fibre_pits }}</dd>
{% endif %}

{% if object.woodfeatures.spetate_fibres_present %}
            <dt>Spetate fibres present</dt>
            <dd>{{ object.woodfeatures.spetate_fibres_present }}</dd>
{% endif %}

{% if object.woodfeatures.vascularvasicentric_tracheids_present %}
            <dt>Vascular-vasicentric tracheids present</dt>
            <dd>{{ object.woodfeatures.vascularvasicentric_tracheids_present }}</dd>
{% endif %}

{% if object.woodfeatures.parenchyma_like_fibres_present %}
            <dt>Parenchyma like fibres present</dt>
            <dd>{{ object.woodfeatures.parenchyma_like_fibres_present }}</dd>
{% endif %}

{% if object.woodfeatures.fusiform_parenchyma_cells %}
            <dt>Fusiform parenchyma cells</dt>
            <dd>{{ object.woodfeatures.fusiform_parenchyma_cells }}</dd>
{% endif %}

{% if object.woodfeatures.axial_parenchyma_bands %}
            <dt>Axial parenchyma bands</dt>
            <dd>{{ object.woodfeatures.axial_parenchyma_bands }}</dd>
{% endif %}

{% if object.woodfeatures.ray_height %}
            <dt>Ray height</dt>
            <dd>{{ object.woodfeatures.ray_height }}</dd>
{% endif %}

{% if object.woodfeatures.ray_width %}
            <dt>Ray width</dt>
            <dd>{{ object.woodfeatures.ray_width }}</dd>
{% endif %}

{% if object.woodfeatures.ray_type %}
            <dt>Ray type</dt>
            <dd>{{ object.woodfeatures.ray_type }}</dd>
{% endif %}

{% if object.woodfeatures.rays_cellular_composition %}
            <dt>Rays cellular composition</dt>
            <dd>{{ object.woodfeatures.rays_cellular_composition }}</dd>
{% endif %}

{% if object.woodfeatures.rays_structure %}
            <dt>Rays structure</dt>
            <dd>{{ object.woodfeatures.rays_structure }}</dd>
{% endif %}

{% if object.woodfeatures.rays_sheath_cells %}
            <dt>Rays sheath cells</dt>
            <dd>{{ object.woodfeatures.rays_sheath_cells }}</dd>
{% endif %}

{% if object.woodfeatures.tile_cells %}
            <dt>Tile cells</dt>
            <dd>{{ object.woodfeatures.tile_cells }}</dd>
{% endif %}

{% if object.woodfeatures.storied_structure %}
            <dt>Storied structure</dt>
            <dd>{{ object.woodfeatures.storied_structure }}</dd>
{% endif %}

{% if object.woodfeatures.vessels_rays_pitting %}
            <dt>Vessels rays pitting</dt>
            <dd>{{ object.woodfeatures.vessels_rays_pitting }}</dd>
{% endif %}

{% if object.woodfeatures.walls %}
            <dt>Walls</dt>
            <dd>{{ object.woodfeatures.walls }}</dd>
{% endif %}
                      </dl>
                    </div>
                    <div class="span4">
                      <h4>Secretory elements and cambial variants</h4>
                        <dl>
{% if object.woodfeatures.radial_tracheids_for_gymnosperms %}
            <dt>Radial tracheids for gymnosperms</dt>
            <dd>{{ object.woodfeatures.radial_tracheids_for_gymnosperms }}</dd>
{% endif %}

{% if object.woodfeatures.axial_canals %}
            <dt>Axial canals</dt>
            <dd>{{ object.woodfeatures.axial_canals }}</dd>
{% endif %}

{% if object.woodfeatures.lactifer_tanniferous_tubes %}
            <dt>Lactifer tanniferous tubes</dt>
            <dd>{{ object.woodfeatures.lactifer_tanniferous_tubes }}</dd>
{% endif %}

{% if object.woodfeatures.radial_secretory_canals %}
            <dt>Radial secretory canals</dt>
            <dd>{{ object.woodfeatures.radial_secretory_canals }}</dd>
{% endif %}

{% if object.woodfeatures.cambial_variants %}
            <dt>Cambial variants</dt>
            <dd>{{ object.woodfeatures.cambial_variants }}</dd>
{% endif %}

{% if object.woodfeatures.included_phloem %}
            <dt>Included phloem</dt>
            <dd>{{ object.woodfeatures.included_phloem }}</dd>
{% endif %}

{% if object.woodfeatures.druses %}
            <dt>Druses</dt>
            <dd>{{ object.woodfeatures.druses }}</dd>
{% endif %}

{% if object.woodfeatures.silica %}
            <dt>Silica</dt>
            <dd>{{ object.woodfeatures.silica }}</dd>
{% endif %}

{% if object.woodfeatures.prismatic_crystals %}
            <dt>Prismatic crystals</dt>
            <dd>{{ object.woodfeatures.prismatic_crystals }}</dd>
{% endif %}
                      </dl>
                    </div>
                </div><!-- /row -->
<!--
            <div class="row-fluid">
                <div class="span6">
                  <h3>Extra fields</h3>
                    <dl>







{% if object.woodfeatures.notes %}
            <dt>NOTES</dt>
            <dd>{{ object.woodfeatures.notes }}</dd>
{% endif %}

{% comment %}
            <dt>Reference Specimens</dt>
            <dd>{{ object.woodfeatures.reference_specimens }}</dd>
{% endcomment %}



                    </dl>
                  </div>
                </div>
-->


