   <div class="row-fluid">
      <div class="span6">
        <dl>
{% if object.seedfeatures.seed_type %}
    <dt>Seed/fruit type</dt>
    <dd>{{ object.seedfeatures.seed_type }}</dd>
{% endif %}

{% if object.seedfeatures.shape_3d %}
    <dt>Shape 3d</dt>
    <dd>{{ object.seedfeatures.shape_3d }}</dd>
{% endif %}

{% if object.seedfeatures.shape_2d %}
    <dt>Shape 2d</dt>
    <dd>{{ object.seedfeatures.shape_2d }}</dd>
{% endif %}

{% if object.seedfeatures.shape_detail %}
    <dt>Shape detail</dt>
    <dd>{{ object.seedfeatures.shape_detail }}</dd>
{% endif %}

{% if object.seedfeatures.size %}
    <dt>Size</dt>
    <dd>{{ object.seedfeatures.size }}</dd>
{% endif %}

{% if object.seedfeatures.testa_endocarp_thickness %}
    <dt>Testa/endocarp thickness</dt>
    <dd>{{ object.seedfeatures.testa_endocarp_thickness }}</dd>
{% endif %}

{% if object.seedfeatures.surface_outer_texture %}
    <dt>Surface outer texture/markings</dt>
    <dd>{{ object.seedfeatures.surface_outer_texture }}</dd>
{% endif %}

{% if object.seedfeatures.surface_inner_texture %}
    <dt>Surface inner texture/markings</dt>
    <dd>{{ object.seedfeatures.surface_inner_texture }}</dd>
{% endif %}

{% if object.seedfeatures.hilum_details %}
    <dt>Hilum details</dt>
    <dd>{{ object.seedfeatures.hilum_details }}</dd>
{% endif %}
        </dl>
      </div>

      <div class="span6">
        <dl>
{% if object.seedfeatures.special_features %}
    <dt>Special features</dt>
    <dd>{{ object.seedfeatures.special_features }}</dd>
{% endif %}

{% if object.seedfeatures.anatomy_transverse_section %}
    <dt>Anatomy transverse section</dt>
    <dd>{{ object.seedfeatures.anatomy_transverse_section }}</dd>
{% endif %}

{% if object.seedfeatures.anatomy_longitudinal_sections %}
    <dt>Anatomy longitudinal sections</dt>
    <dd>{{ object.seedfeatures.anatomy_longitudinal_sections }}</dd>
{% endif %}

{% if object.seedfeatures.embryo_endosperm %}
    <dt>Embryo and endosperm details</dt>
    <dd>{{ object.seedfeatures.embryo_endosperm }}</dd>
{% endif %}

{% if object.seedfeatures.other_identification_information %}
    <dt>Other identification information</dt>
    <dd>{{ object.seedfeatures.other_identification_information }}</dd>
{% endif %}

{% if object.seedfeatures.references_and_links %}
    <dt>References and links</dt>
    <dd>{{ object.seedfeatures.references_and_links }}</dd>
{% endif %}

{% if object.seedfeatures.notes %}
    <dt>Notes</dt>
    <dd>{{ object.seedfeatures.notes }}</dd>
{% endif %}
        </dl>
      </div>
    </div>
