{% extends "botanycollection/base.html" %}

{% block content %}

<div class="row">
    <div class="span12">
        <h1>UQ Archaeobotany Reference Collection</h1>


        <p class="lead">Welcome to the UQ Archaeobotany Reference Collection (UQARC)</p>
    </div>
</div>


<div class="row">
    <div class="span8">
    <p>
        UQARC is an online reference collection aiming to provide easier access to fully described plant macrofossil reference specimens of wood, seeds, chaff, leaves and tubers.
    </p>
    <p>
        UQARC has been developed primarily to provide the widely spread researchers of ancient plant use and environments in the Indo-Pacific region (including Australia) with a permanent and updateable collection of fossil reference material to help facilitate research. However, it has no geographical boundaries and in it can be found modern and ancient specimens from around the world.
    </p>
    <p>
        UQARC allows user to <a href="{% url accession_list %}">search</a> entries by species, family and specific identification criteria. Access to the reference collection is open to all under a <a href="#">creative commons license</a>.
    </p>
    <p>
        UQARC houses both images and text descriptions of plant specimens and acts as the database management tool for UQ’s archaeobotanical reference collections. While initially designed by <a href="#">staff and students</a> of The University of Queensland, UQARC is a broader community resource and welcomes <a href="#">contributions to its archive</a>. All contributions are peer-reviewed for compliance with UQARC’s data standards and contributors are acknowledged in UQARC entries.
    </p>

    <p>
        For further details please go to the <a href="#">help page</a> or <a href="#">contact</a> the developers.
    </p>

    </div><!-- /span8 -->
</div>

{% endblock content %}
