{% extends "botanycollection/base.html" %}

{% block content %}



<div class="row">
    <div class="span8 offset1">
        <h2>Terms of Use</h2>
        <p>
The resources on this database are shared under a <strong>Creative Commons Attribution, No Derivatives Licence (CC BY-NC-ND 4.0)</strong>.
As defined by Creative Commons Australia:
</p>
<blockquote>
    <p>
    “This licence allows others to distribute the work, even for commercial purposes, as long as the work is unchanged, and the original creator/s (and any other nominated parties) are credited.” 
    </p>
</blockquote>
<p>
For a summary of the licence details please refer to (<a href="http://creativecommons.org/licenses/by-nd/4.0/">http://creativecommons.org/licenses/by-nd/4.0/</a>)
</p><p>
For the full licence details please refer to (<a href="http://creativecommons.org/licenses/by-nd/4.0/">http://creativecommons.org/licenses/by-nd/4.0/legalcode</a>)
</p><p>
For further details please refer to the Creative Commons Australia website (<a href="http://creativecommons.org/licenses/by-nd/4.0/">http://creativecommons.org.au/learn/licences/</a>)

        </p>
    </div><!-- /span8 -->
</div>

{% endblock content %}
